<!--包含头部文件-->
{include file="public/header" /}
<body>
<div class="page-container">
	<form class="form form-horizontal form-o2o-add" id="form-add" method="post" action="##" onsubmit="return false">
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>商品分类名称：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="" placeholder="" id="name" name="name">
			</div>
		</div>
		<div class="row cl"><!--上传图片-->
			<div class="row cl">
				<label class="form-label col-xs-4 col-sm-2">分类图片：</label>
				<div class="formControls col-xs-8 col-sm-9">
					<input id="file_upload"  type="file" multiple="true" ><!--id="file_upload",在image.js中绑定了文件上传的方法-->
					<img style="display: none" id="upload_org_code_img" src="" width="150" height="150">
					<input id="file_upload_image" name="logo" type="hidden" multiple="true" value="">
				</div>
			</div>

		</div>

		<div class="row cl">
			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
				<button  type="button" class="btn btn-primary radius" value="保存" onclick="submitAdd()"><i class="Hui-iconfont">&#xe632;</i> 保存</button>
				
				<button onClick="layer_close();" class="btn btn-default radius" type="button">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
			</div>
		</div>
	</form>
</div>
</div>

<script>
	var SCOPE = {
	    'image_upload_url': "{:url('category/imageUpload')}",
		'uploadify_single': true,
	}

    function submitAdd() {
        $.ajax({
            //几个参数需要注意一下
            type: "POST",//方法类型
            dataType: "json",//预期服务器返回的数据类型
            url: "{:url('Category/addSave')}" ,//url
            data: $('#form-add').serialize(),
            success: function (result) {
//                console.log(result);//打印服务端返回的数据(调试用)
                if (result.code == 1) {
                    parent.parent.toastr.success("保存成功");
                    parent.location.reload();
                }
            },
            error : function() {
                toastr.error("服务器异常，保存失败");
            }
        });
    }

</script>


{include file="public/footer" /}


</body>
</html>