
#运行文件
#在runtime和log文件夹下各自放一个.gitignore文件，也会生效，这样这两个文件夹存在，而其下面的文件都不加入仓库
#像这样的写法  /log/*   或者/log/   log文件夹都不会存在。
*.log

#软件生成的配置文件
composer.lock
.idea/

#配置文件，要保密,先不保密了。
#/application/extra/
#/application/database.php
