
<script type="text/javascript" src="__STATIC__/admin/hui3.1/lib/jquery/1.9.1/jquery.min.js"></script>
<!-- 将jquery.form包含在hui.js前面，可以覆盖下面hui.js中的错误的ajaxform方法  -->
<!--{load href="__STATIC__/admin/jquery.form.js" /}-->
<script type="text/javascript" src="__STATIC__/admin/hui3.1/lib/layer/2.4/layer.js"></script>
<script type="text/javascript" src="__STATIC__/admin/hui3.1/static/h-ui/js/H-ui.min.js"></script>
<script type="text/javascript" src="__STATIC__/admin/hui3.1/static/h-ui.admin/js/H-ui.admin.js"></script> <!--/_footer 作为公共模版分离出去-->

<!--   -->
<!--我添加的js文件-->
<script src="__STATIC__/admin/toastr/toastr.min.js"></script>

<script>
    toastr.options = {
        closeButton: false,                                            // 是否显示关闭按钮，（提示框右上角关闭按钮）
        debug: false,                                                    // 是否使用deBug模式
        progressBar: false,                                            // 是否显示进度条，（设置关闭的超时时间进度条）
        positionClass: "toast-bottom-center",         // 设置提示款显示的位置
        onclick: null,                                                     // 点击消息框自定义事件 
        showDuration: "100",                                      // 显示动画的时间
        hideDuration: "1000",                                     //  消失的动画时间
        timeOut: "1000",                                             //  自动关闭超时时间 
        extendedTimeOut: "1000",                             //  加长展示时间
        showEasing: "swing",                                     //  显示时的动画缓冲方式
        hideEasing: "linear",                                       //   消失时的动画缓冲方式
        showMethod: "fadeIn",                                   //   显示时的动画方式
        hideMethod: "fadeOut"                                   //   消失时的动画方式
    };
</script>

{load href="__STATIC__/admin/js/common.js" /}
{load href="__STATIC__/admin/validate/jquery.validate.min.js" /}
{load href="__STATIC__/admin/validate/localization/messages_zh.js" /}
<!--我添加的js文件 结束-->

