<!--包含头部文件-->
{include file="public/header" /}
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 商城管理 <span class="c-gray en">&gt;</span> 商品管理 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
	
	<div class="cl pd-5 bg-1 bk-gray mt-20"> <span class="f-r"> <a class="btn btn-primary radius" onclick="openLayer('{:url('Product/add')}')" href="javascript:;"><i class="Hui-iconfont">&#xe600;</i> 添加商品</a></span> <span class="r"></span> </div>

	<div class="mt-20">
		<table class="table table-border table-bordered table-bg table-hover table-sort">
			<thead>
				<tr class="text-c">
					<th width="40"><input name="" type="checkbox" value=""></th>
					<th width="80">商品名称</th>
					<th width="30">排序序号</th>
					<th width="100">分类</th>
					<th width="100">价格</th>
					<th width="100">库存量</th>
					<th width="100">操作</th>
				</tr>
			</thead>
			<tbody>
				{volist name="$products" id="vo"}
					<tr class="text-c">
						<td><input name="" type="checkbox" value=""></td>
						<td>{$vo.name}</td>  <!--id-->
						<td class="text-c listorder"><input  size="4" attr-id="{$vo.id}" name="listorder" value="{$vo.listorder}"/></td><!--排序序号，在common.js中响应-->
						<td>{$vo.category.name}</td>  <!--  分类  -->
						<td>{$vo.price}</td>  <!--  价格 -->
						<td>{$vo.stock}</td>  <!--  库存量  -->
						<td class="td-manage">  <!--  编辑  -->
							<a style="text-decoration:none" class="ml-5" onClick="openLayer('{:url('product/edit',['id'=>$vo.id, 'name'=>$vo.name])}')" 	href="javascript:;" title="编辑"><i class="Hui-iconfont">&#xe6df;</i></a>

							<a style="text-decoration:none" class="ml-5" onClick="deleteProduct({$vo.id})" href="javascript:;" title="删除">
								<i class="Hui-iconfont">&#xe6e2;</i></a>
						</td>
					</tr>
				{/volist}
			</tbody>
		</table>
		<div class="my-page">{$products->render()}</div>
	</div>
</div>

<!--    -->

<script>
	var SCOPE={
	    'listorder_url': "{:url('product/listorder')}",
	};
</script>
{include file="public/footer" /}

<script>
    function openLayer(url){
//        window.location.href=url;
        var index = layer.open({
            scrollbar: true,//是否显示滚动条
            type: 2,
//            area: ['800px', '500px'],
//            area: [window.innerWidth,window.innerHeight],
            area: ['900px','500px'],
            fix: true, //鼠标滚动时是否固定
            maxmin: true,
            shade:0.4,
            title: "添加/编辑商品",
            content: url,
        });
        layer.full(index);
    }

    function deleteProduct(productId) {
        layer.confirm('确认要删除吗？',function(index){
            $.ajax({
                type: 		"POST",//方法类型
                dataType: 	"json",//预期服务器返回的数据类型
                url: 		"{:url('Product/delete')}" ,
                data: 		{ id: productId},
                success:   function (result) {
                    			handleResult(result);
								//删除成功后刷新页面
								if (result.code == 1) {
									window.location.reload();
								}
							},
                error : function() {
							toastr.error("服务器异常，保存失败");
						}
            });
            layer.close(index);
        });
    }
</script>


</body>
</html>